*{
 
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
 }
body{
	font-family: 'Open Sans', sans-serif;
}
header{
	display: flex;
	background-color: #333333;
	height: 80px;
	align-items: center;
}
.container{
	width: 1145px;
	margin:0 auto;
}
.col-3{
	width: 25%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-9{
	width: 75%;
}
.col-12{
	width: 100%;
}
.row{
	display: flex;
	align-items: center;
}
.navigation {
   display: flex;
	position: relative;
	right: 4px;
}
.logo-header{
	display: block;
	width: 100px;
}
.navigation li{
	list-style-type: none;
	border-radius: 5px;
	padding: 4px;
	margin: 5px;
	align-items: center;
	margin-top: 8px;
	border: 2px solid #333333;


}
.navigation li:hover{
	border: 2px solid #7e7e7e;
}
.navigation li a:hover{
	color: #cccccc;
}
.scroll li:first-child{
	border: 2px solid #33cc99;
}
.navigation a{
	text-decoration: none;
	font-size: 14px;
	padding: 5px;
	color: #cccccc;
	font-size: 14px;
}
.nav-search{
	display: flex;
	justify-content: flex-end;
}
.search {
	display: flex;
    border-radius: 3px;
	width: 195px; 
	border: 2px solid #7e7e7e;
	align-items: center;
}
.input-search{
height: 24px;
width: 150px;
border: none;
background-color: inherit;
outline: none;
color: white;
font-size: 14px;
color: #cccccc;
text-indent: 16px;
}
input::-webkit-input-placeholder { color: #cccccc; font-family:'Open Sans', sans-serif;}

.search-img{
	display: flex;
	width: 20px;
	height: 20px;
}
#section-1{
	display: flex;
	height: 666px;
	background: url(img/img2.png)center top / cover ;
	align-items: center;
}
#section-2{
	height: 615px;
	background-color: #ffffff;
	border-bottom: 1px solid #999999;
}
#section-3{
	height: 650px;
	background-color: #ffffff;
}
.sec-1-text-1{
	color: white;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.sec-1-text-2{
	font-size: 16px;
	color: #cccccc;
	margin-bottom: 45px;
}

.button-sec-1{
	height: 45px;
	width: 125px;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	background-color: inherit;
	text-transform: uppercase;
}
.button2{
	margin-left: 5px;
}
.button-sec-1:hover{
	background-color: #33cc99;
	border: none;
	cursor: pointer;
}
.title{
	border-left: 10px solid #cccccc;
	margin-bottom: 63px;
	margin-top: 78px;
	text-transform: uppercase;
	font-size: 36px;
	text-indent: 15px;
}
.content{
	margin-bottom: 40px;
	font-size: 16px;
	color: #999999;
}

.img-icon{
	margin-top: 105px;
	display: flex;
	flex-direction: row;
}
.img-icon img{
	background-color: #cccccc;
	margin: 1px;
	width: 60px;
	height: 60px;
}
.img-people{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.name-people{
	width: 263px;
	height: 75px;
	background-color: #dcdcef;
	position: relative;
	bottom: 5px;
	
}
.text-name{
	display: inline-block;
	position: relative;
 	top: 20px;
 	left: 20px;
 	

}
















