*{
 
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
 }
body{
	font-family: 'Open Sans', sans-serif;
}
header{
	display: flex;
	align-items: center;
	background-color: #333333;
	height: 80px;
}
.container{
	display: flex;
	width: 1145px;
	margin:0 auto;
}
.col-3{
	display: flex;
	justify-content: flex-end;
	width: 25%;
}
.col-6{
	width: 50%;
}
.navigation {
	display: flex;
	position: relative;
	right: 4px;
}
.navigation li{
	list-style-type: none;
	border: 2px solid #33cc99;
	border-radius: 5px;
	padding: 4px;
	margin: 5px;
}
.navigation a{
	text-decoration: none;
	font-size: 14px;
	padding: 5px;
	color: #33cc99;
}
.search {
	width: 195px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border: 1px solid grey ;
	border-radius: 5px;
	padding-top: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.inp-search{
	display: none;
}








